node_modules/.yarn-integrity
node_modules/.bin/node-gyp-build
node_modules/.bin/node-gyp-build-optional
node_modules/.bin/node-gyp-build-optional.cmd
node_modules/.bin/node-gyp-build-test
node_modules/.bin/node-gyp-build-test.cmd
node_modules/.bin/node-gyp-build.cmd
node_modules/@influxdata/influxdb-client/api-extractor.json
node_modules/@influxdata/influxdb-client/LICENSE
node_modules/@influxdata/influxdb-client/package.json
node_modules/@influxdata/influxdb-client/README.md
node_modules/@influxdata/influxdb-client/dist/index.browser.js
node_modules/@influxdata/influxdb-client/dist/index.browser.js.gz
node_modules/@influxdata/influxdb-client/dist/index.browser.js.map
node_modules/@influxdata/influxdb-client/dist/index.browser.mjs
node_modules/@influxdata/influxdb-client/dist/index.browser.mjs.gz
node_modules/@influxdata/influxdb-client/dist/index.browser.mjs.map
node_modules/@influxdata/influxdb-client/dist/index.d.ts
node_modules/@influxdata/influxdb-client/dist/index.js
node_modules/@influxdata/influxdb-client/dist/index.js.gz
node_modules/@influxdata/influxdb-client/dist/index.js.map
node_modules/@influxdata/influxdb-client/dist/index.mjs
node_modules/@influxdata/influxdb-client/dist/index.mjs.gz
node_modules/@influxdata/influxdb-client/dist/index.mjs.map
node_modules/@influxdata/influxdb-client/dist/influxdb.js
node_modules/@influxdata/influxdb-client/dist/influxdb.js.gz
node_modules/@influxdata/influxdb-client/dist/influxdb.js.map
node_modules/@serialport/binding-mock/.releaserc
node_modules/@serialport/binding-mock/LICENSE
node_modules/@serialport/binding-mock/package.json
node_modules/@serialport/binding-mock/README.md
node_modules/@serialport/binding-mock/dist/index-esm.mjs
node_modules/@serialport/binding-mock/dist/index.d.ts
node_modules/@serialport/binding-mock/dist/index.js
node_modules/@serialport/binding-mock/node_modules/@serialport/bindings-interface/CODE_OF_CONDUCT.md
node_modules/@serialport/binding-mock/node_modules/@serialport/bindings-interface/LICENSE
node_modules/@serialport/binding-mock/node_modules/@serialport/bindings-interface/package.json
node_modules/@serialport/binding-mock/node_modules/@serialport/bindings-interface/README.md
node_modules/@serialport/binding-mock/node_modules/@serialport/bindings-interface/dist/index-esm.mjs
node_modules/@serialport/binding-mock/node_modules/@serialport/bindings-interface/dist/index.d.ts
node_modules/@serialport/binding-mock/node_modules/@serialport/bindings-interface/dist/index.js
node_modules/@serialport/bindings-cpp/binding.gyp
node_modules/@serialport/bindings-cpp/LICENSE
node_modules/@serialport/bindings-cpp/package.json
node_modules/@serialport/bindings-cpp/README.md
node_modules/@serialport/bindings-cpp/dist/darwin.d.ts
node_modules/@serialport/bindings-cpp/dist/darwin.js
node_modules/@serialport/bindings-cpp/dist/errors.d.ts
node_modules/@serialport/bindings-cpp/dist/errors.js
node_modules/@serialport/bindings-cpp/dist/index.d.ts
node_modules/@serialport/bindings-cpp/dist/index.js
node_modules/@serialport/bindings-cpp/dist/linux-list.d.ts
node_modules/@serialport/bindings-cpp/dist/linux-list.js
node_modules/@serialport/bindings-cpp/dist/linux.d.ts
node_modules/@serialport/bindings-cpp/dist/linux.js
node_modules/@serialport/bindings-cpp/dist/load-bindings.d.ts
node_modules/@serialport/bindings-cpp/dist/load-bindings.js
node_modules/@serialport/bindings-cpp/dist/poller.d.ts
node_modules/@serialport/bindings-cpp/dist/poller.js
node_modules/@serialport/bindings-cpp/dist/unix-read.d.ts
node_modules/@serialport/bindings-cpp/dist/unix-read.js
node_modules/@serialport/bindings-cpp/dist/unix-write.d.ts
node_modules/@serialport/bindings-cpp/dist/unix-write.js
node_modules/@serialport/bindings-cpp/dist/win32-sn-parser.d.ts
node_modules/@serialport/bindings-cpp/dist/win32-sn-parser.js
node_modules/@serialport/bindings-cpp/dist/win32.d.ts
node_modules/@serialport/bindings-cpp/dist/win32.js
node_modules/@serialport/bindings-cpp/node_modules/.bin/node-gyp-build
node_modules/@serialport/bindings-cpp/node_modules/.bin/node-gyp-build-optional
node_modules/@serialport/bindings-cpp/node_modules/.bin/node-gyp-build-optional.cmd
node_modules/@serialport/bindings-cpp/node_modules/.bin/node-gyp-build-test
node_modules/@serialport/bindings-cpp/node_modules/.bin/node-gyp-build-test.cmd
node_modules/@serialport/bindings-cpp/node_modules/.bin/node-gyp-build.cmd
node_modules/@serialport/bindings-cpp/prebuilds/android-arm/node.napi.armv7.node
node_modules/@serialport/bindings-cpp/prebuilds/android-arm64/node.napi.armv8.node
node_modules/@serialport/bindings-cpp/prebuilds/darwin-x64+arm64/node.napi.node
node_modules/@serialport/bindings-cpp/prebuilds/linux-arm/node.napi.armv6.node
node_modules/@serialport/bindings-cpp/prebuilds/linux-arm/node.napi.armv7.node
node_modules/@serialport/bindings-cpp/prebuilds/linux-arm64/node.napi.armv8.node
node_modules/@serialport/bindings-cpp/prebuilds/linux-x64/node.napi.glibc.node
node_modules/@serialport/bindings-cpp/prebuilds/linux-x64/node.napi.musl.node
node_modules/@serialport/bindings-cpp/prebuilds/win32-ia32/node.napi.node
node_modules/@serialport/bindings-cpp/prebuilds/win32-x64/node.napi.node
node_modules/@serialport/bindings-cpp/src/darwin_list.cpp
node_modules/@serialport/bindings-cpp/src/darwin_list.h
node_modules/@serialport/bindings-cpp/src/poller.cpp
node_modules/@serialport/bindings-cpp/src/poller.h
node_modules/@serialport/bindings-cpp/src/serialport_linux.cpp
node_modules/@serialport/bindings-cpp/src/serialport_linux.h
node_modules/@serialport/bindings-cpp/src/serialport_unix.cpp
node_modules/@serialport/bindings-cpp/src/serialport_unix.h
node_modules/@serialport/bindings-cpp/src/serialport_win.cpp
node_modules/@serialport/bindings-cpp/src/serialport_win.h
node_modules/@serialport/bindings-cpp/src/serialport.cpp
node_modules/@serialport/bindings-cpp/src/serialport.h
node_modules/@serialport/bindings-interface/CODE_OF_CONDUCT.md
node_modules/@serialport/bindings-interface/LICENSE
node_modules/@serialport/bindings-interface/package.json
node_modules/@serialport/bindings-interface/README.md
node_modules/@serialport/bindings-interface/dist/index-esm.mjs
node_modules/@serialport/bindings-interface/dist/index.d.ts
node_modules/@serialport/bindings-interface/dist/index.js
node_modules/@serialport/parser-byte-length/LICENSE
node_modules/@serialport/parser-byte-length/package.json
node_modules/@serialport/parser-byte-length/README.md
node_modules/@serialport/parser-byte-length/dist/index.d.ts
node_modules/@serialport/parser-byte-length/dist/index.js
node_modules/@serialport/parser-cctalk/LICENSE
node_modules/@serialport/parser-cctalk/package.json
node_modules/@serialport/parser-cctalk/README.md
node_modules/@serialport/parser-cctalk/dist/index.d.ts
node_modules/@serialport/parser-cctalk/dist/index.js
node_modules/@serialport/parser-delimiter/LICENSE
node_modules/@serialport/parser-delimiter/package.json
node_modules/@serialport/parser-delimiter/README.md
node_modules/@serialport/parser-delimiter/dist/index.d.ts
node_modules/@serialport/parser-delimiter/dist/index.js
node_modules/@serialport/parser-inter-byte-timeout/LICENSE
node_modules/@serialport/parser-inter-byte-timeout/package.json
node_modules/@serialport/parser-inter-byte-timeout/README.md
node_modules/@serialport/parser-inter-byte-timeout/dist/index.d.ts
node_modules/@serialport/parser-inter-byte-timeout/dist/index.js
node_modules/@serialport/parser-packet-length/LICENSE
node_modules/@serialport/parser-packet-length/package.json
node_modules/@serialport/parser-packet-length/README.md
node_modules/@serialport/parser-packet-length/dist/index.d.ts
node_modules/@serialport/parser-packet-length/dist/index.js
node_modules/@serialport/parser-readline/LICENSE
node_modules/@serialport/parser-readline/package.json
node_modules/@serialport/parser-readline/README.md
node_modules/@serialport/parser-readline/dist/index.d.ts
node_modules/@serialport/parser-readline/dist/index.js
node_modules/@serialport/parser-ready/LICENSE
node_modules/@serialport/parser-ready/package.json
node_modules/@serialport/parser-ready/README.md
node_modules/@serialport/parser-ready/dist/index.d.ts
node_modules/@serialport/parser-ready/dist/index.js
node_modules/@serialport/parser-regex/LICENSE
node_modules/@serialport/parser-regex/package.json
node_modules/@serialport/parser-regex/README.md
node_modules/@serialport/parser-regex/dist/index.d.ts
node_modules/@serialport/parser-regex/dist/index.js
node_modules/@serialport/parser-slip-encoder/LICENSE
node_modules/@serialport/parser-slip-encoder/package.json
node_modules/@serialport/parser-slip-encoder/README.md
node_modules/@serialport/parser-slip-encoder/dist/decoder.d.ts
node_modules/@serialport/parser-slip-encoder/dist/decoder.js
node_modules/@serialport/parser-slip-encoder/dist/encoder.d.ts
node_modules/@serialport/parser-slip-encoder/dist/encoder.js
node_modules/@serialport/parser-slip-encoder/dist/index.d.ts
node_modules/@serialport/parser-slip-encoder/dist/index.js
node_modules/@serialport/parser-spacepacket/LICENSE
node_modules/@serialport/parser-spacepacket/package.json
node_modules/@serialport/parser-spacepacket/README.md
node_modules/@serialport/parser-spacepacket/dist/index.d.ts
node_modules/@serialport/parser-spacepacket/dist/index.js
node_modules/@serialport/parser-spacepacket/dist/utils.d.ts
node_modules/@serialport/parser-spacepacket/dist/utils.js
node_modules/@serialport/stream/LICENSE
node_modules/@serialport/stream/package.json
node_modules/@serialport/stream/README.md
node_modules/@serialport/stream/dist/index.d.ts
node_modules/@serialport/stream/dist/index.js
node_modules/debug/LICENSE
node_modules/debug/package.json
node_modules/debug/README.md
node_modules/debug/src/browser.js
node_modules/debug/src/common.js
node_modules/debug/src/index.js
node_modules/debug/src/node.js
node_modules/dotenv/CHANGELOG.md
node_modules/dotenv/config.d.ts
node_modules/dotenv/config.js
node_modules/dotenv/LICENSE
node_modules/dotenv/package.json
node_modules/dotenv/README.md
node_modules/dotenv/lib/cli-options.js
node_modules/dotenv/lib/env-options.js
node_modules/dotenv/lib/main.d.ts
node_modules/dotenv/lib/main.js
node_modules/ms/index.js
node_modules/ms/license.md
node_modules/ms/package.json
node_modules/ms/readme.md
node_modules/node-addon-api/common.gypi
node_modules/node-addon-api/except.gypi
node_modules/node-addon-api/index.js
node_modules/node-addon-api/LICENSE.md
node_modules/node-addon-api/napi-inl.deprecated.h
node_modules/node-addon-api/napi-inl.h
node_modules/node-addon-api/napi.h
node_modules/node-addon-api/node_api.gyp
node_modules/node-addon-api/noexcept.gypi
node_modules/node-addon-api/nothing.c
node_modules/node-addon-api/package-support.json
node_modules/node-addon-api/package.json
node_modules/node-addon-api/README.md
node_modules/node-addon-api/tools/check-napi.js
node_modules/node-addon-api/tools/clang-format.js
node_modules/node-addon-api/tools/conversion.js
node_modules/node-addon-api/tools/eslint-format.js
node_modules/node-addon-api/tools/README.md
node_modules/node-gyp-build/bin.js
node_modules/node-gyp-build/build-test.js
node_modules/node-gyp-build/index.js
node_modules/node-gyp-build/LICENSE
node_modules/node-gyp-build/optional.js
node_modules/node-gyp-build/package.json
node_modules/node-gyp-build/README.md
node_modules/serialport/LICENSE
node_modules/serialport/package.json
node_modules/serialport/README.md
node_modules/serialport/dist/index.d.ts
node_modules/serialport/dist/index.js
node_modules/serialport/dist/serialport-mock.d.ts
node_modules/serialport/dist/serialport-mock.js
node_modules/serialport/dist/serialport.d.ts
node_modules/serialport/dist/serialport.js
